@model IEnumerable<campingplan.Models.product>

@{
    ViewBag.Title = "購物商品列表";
}

<h2>Shop</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Content/images/product/@item.pimg" style="width:70%" />
                <div class="caption">
                    <h2>@item.pname</h2>
                    <p>單價：@item.pprice</p>
                    @if (Session["Member"] == null)
                    {
                        <p></p>
                    }
                    else
                    {
                        <p><a href=""></a></p>
                    }
                </div>
            </div>
        </div>

    }

</div>

